body{
    background-color: lightslategray;
    font-family: 'Arial', Helvetica, sans-serif;
}
.highlight{
    color: white;
    font-weight: bold;
}

#main-header{
    text-align: center;
    font-size: 40px;
}

p{
    color:white;
    margin: 40px;
    padding:10px;
    border:2px dotted blue;
    font-size: 20px;
    font-family:'comic sans ms';

}

a:link{
    color:navy;
}

a:visited{
    color:red
}

a:hover{
    color:hotpink;
    text-decoration:wavy;
    text-shadow:10px 10px 5px black;
    font-size: xx-large;
}

a:active{
    color:plum;
}
/*I added some stuff for my table*/
table{
    color:white;
    border:2px solid black;
    font-size: 20px;
    font-family:'Times New Roman';
}
.section{
    background-color: plum;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}